/*vitrine*/
@font-face {
    font-family: "Open sans";
    src: url('http://localhost/ISCC/J08/assetD04/OpenSans-Regular.ttf');
    font-family: "nasalization-rg";
    src: url('http://localhost/ISCC/J08/assetD04/nasalization-rg.ttf');
}
header {
    background-image: url(http://localhost/ISCC/J04/assetD04/texture-header.jpg);
    background-size: auto 150px;
}
body {
    font-family: "Open sans";
    font-size: 14px;
    background:#f2f2f2;
    text-align: center;
    max-block-size: 810px;
}
h1 {
    text-align: center;
}
#titre {
    font-family: "nasalization-rg";
    font-size: 40px;
    color: #27d1ff;
    text-align: center;
}
.navigation {
    font-family: "Open sans";
    background-color:#2e2f30;
    padding-right: 50px;
    margin: 0px;
    text-align: right;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: "Verdana";
}
a:hover {
    color:#17c1ff;
}
a {
    color:white;
}
.image {
    text-align: center;
}
h2 {
   text-transform: uppercase;
   text-shadow: 3px 2px #e6e6e6;
   color: black;
}
p {
    width: 750px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.titres-tableau {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
table {
    width: 1000px;
    margin: auto;
}
.formulaire {
    width: 300px;
    padding: 8px;
    text-align: center;
    margin: auto;
    border:2px solid #e6e6e6;

}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
button {
    margin: auto;
    background:#27d1ff;
    border: 5px #27d1ff;
    color:white;
}
textarea {
    font-family: "Open sans";
    border:2px solid #e6e6e6;
}
input {
    font-family: "Open sans";
    width: 250px;
    height: 30px;
    border:2px solid #e6e6e6;
}
button:hover {
    background:#17c1ff;
}
input:hover {
    border: solid blue;
}
textarea:hover {
    border: solid blue;
}
button:active {
    box-shadow: 2px 2px inset;
}